.contact {
    min-height: 100vh;
    position: relative;
    height: 100%;


    &--content {
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }


    &--logo {
        img {
            display: block;
            width: 19.605vh;
            margin: 0 auto;
            padding-bottom: 50px;
        }
    }

    &--social {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        border-top: 1px rgb(236, 238, 239) solid;

        &--icons {



            font-size: 1.25rem;
            display: inline;
            text-align: center;




            i {

                color: black;
                width: 20%;
                margin-top: 30px;


            }


        }
    }


}
