body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;


}

a {
    text-decoration: none;
}


a:hover {
    color: #aaa;
}

/*
.wrapperOpen {
}
*/

.wrapper{
/*    transform: translateX(0);*/
    transition: transform .6s ease;
}


.wrapperOpen{
    
    transform: translateX(-25vh);
        position: fixed;

    
}