body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;


}

a {
    text-decoration: none;
}


a:hover {
    color: #aaa;
}

/*
.wrapperOpen {
}
*/

.wrapper {
    /*    transform: translateX(0);*/
    transition: transform .6s ease;
}


.wrapperOpen {
    position: fixed;
    transform: translateX(-75vw);


    @mixin atMedium {
        transform: translateX(-25vw);

    }





}
