body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;



}

a {
    text-decoration: none;
}


.wrapper {
    transition: transform .6s ease;
/*    transform: translateX(0);*/

}


.wrapperOpen {
    overflow-y: hidden;

    height: 100%;
    width: 100%;
    transform: translateX(-75vw);



    @mixin atMedium {
        transform: translateX(-25vw);


    }

}
